<section class="hero">
  <video
    src="./video/home-welcome-v2.mp4"
    playsinline
    preload="none"
    autoplay
    muted
    loop
  ></video>

  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__content">
        <h1 class="hero__title title-h1">
          Испытательная<br />
          лаборатория в Москве
        </h1>
        <p class="hero__description-text">
          Комплексные лабораторные исследования и создание экологических
          проектов по всем регионам России.
        </p>
        <a
          href="./services.html"
          class="hero__description-link btn-transparent"
        >
          <svg
            width="23"
            height="25"
            viewBox="0 0 23 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11.499 11.693V5.64035L6.25343 2.61404L1.00781 5.64035V11.693L6.25343 14.7193L11.499 11.693ZM11.499 11.693L16.7447 14.7193L21.9903 11.693V5.64035L18.1368 3.41701M6.25343 14.9211V20.9737L11.499 24L15.4413 21.7242M18.3547 2.61404C18.3547 3.50544 17.632 4.22807 16.7406 4.22807C15.8492 4.22807 15.1266 3.50544 15.1266 2.61404C15.1266 1.72263 15.8492 1 16.7406 1C17.632 1 18.3547 1.72263 18.3547 2.61404ZM18.3547 20.7719C18.3547 21.6633 17.632 22.386 16.7406 22.386C15.8492 22.386 15.1266 21.6633 15.1266 20.7719C15.1266 19.8805 15.8492 19.1579 16.7406 19.1579C17.632 19.1579 18.3547 19.8805 18.3547 20.7719Z"
              stroke="white"
              stroke-width="1.3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <span class="hero__description-link-text">Услуги </span>
        </a>
      </div>
      <ul class="hero__statistic">
        <li class="hero__statistic-item">
          <div class="hero__statistic-item-title">11 лет</div>
          <div class="hero__statistic-item-description">
            на рынке: опыт, который превращает знания в решения
          </div>
        </li>
        <li class="hero__statistic-item">
          <div class="hero__statistic-item-title">250+</div>
          <div class="hero__statistic-item-description">
            Позиций в области аккредитации ИЛ
          </div>
        </li>
        <li class="hero__statistic-item">
          <div class="hero__statistic-item-title">700+</div>
          <div class="hero__statistic-item-description">
            Единиц в парке оборудования ИЛ
          </div>
        </li>
        <li class="hero__statistic-item">
          <div class="hero__statistic-item-title">500+</div>
          <div class="hero__statistic-item-description">
            Объектов в области строительства и реконструкции обследовано.
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
