.policy {
  padding-top: 100px;
  padding-bottom: 100px;
  line-height: 115%;

  &__title {
    margin-bottom: 40px;
  }

  &__subtitle {
    margin: 20px 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 115%;
    color: var(--system-black);
  }

  & p {
    margin: 10px 0;
  }
}

@media (max-width: 768px) {
  .policy {
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 14px;

    &__title {
      margin-bottom: 30px;
      font-size: 36px;
    }

    &__subtitle {
      margin: 20px 0;
      font-size: 18px;
      font-weight: 500;
      color: var(--system-black);
    }
  }
}
