<section class="contacts">
  <div class="container">
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item black">
        <a href="/" class="breadcrumbs__link">Главная</a>
      </li>
      <li class="breadcrumbs__item black">Контакты</li>
    </ul>
    <h1 class="contacts__title title-h1">Контакты</h1>

    <div class="contacts__wrap">
      <div class="contacts__content">
        <div class="contacts__content-title">Данные для связи</div>
        <div class="contacts__content-item">
          <div class="contacts__content-item-text">
            Понедельник-пятница <br />
            с 9:00 до 18:00
          </div>
          <a href="tel:+74995011541" class="contacts__content-item-title"
            >+7 (499) 501-15-41</a
          >
        </div>
        <div class="contacts__content-item">
          <div class="contacts__content-item-text">
            По вопросам сотрудничества
          </div>
          <a href="mailto:info@vpklab.ru" class="contacts__content-item-title"
            >info@vpklab.ru</a
          >
        </div>
        <div class="contacts__content-item">
          <div class="contacts__content-item-text">Адрес лаборатории</div>
          <div class="contacts__content-item-title">
            Москва, ул. Бутлерова, д. 17 (БЦ Neo Geo) пом. 50/1
          </div>
        </div>
      </div>

      <form class="contacts-form form-classic">
        <div class="contacts-form__title">Напишите нам</div>

        <div class="contacts-form__row">
          <label class="label">
            <input
              class="input-reset"
              type="text"
              name="Имя"
              placeholder="Имя"
            />
          </label>
          <label class="label">
            <input
              class="input-reset"
              type="tel"
              name="Телефон"
              placeholder="Телефон"
            />
          </label>
        </div>
        <label class="label">
          <textarea
            class="input-reset"
            type="text"
            name="Сообщение"
            placeholder="Ваше сообщение"
          ></textarea>
        </label>

        <button
          class="btn btn-reset btn-primary form-classic__btn"
          type="submit"
        >
          Отправить
        </button>

        <label class="question-form__checkbox custom-checkbox">
          <input type="checkbox" class="custom-checkbox__field" />
          <span class="custom-checkbox__content">
            <p class="question-form__text">
              Даю согласие на обработку персональных данных в соответствии с
              <a href="/policy.html">политикой конфиденциальности</a>.
            </p>
          </span>
        </label>
      </form>

      <div class="contacts__map">
        <iframe
          src="https://yandex.com/map-widget/v1/?um=constructor%3A4b0ab29418333ab18fa4bd3a2c5a086bec675227593c3e59f6514afc18aa01f3&amp;source=constructor"
          width="100%"
          height="485"
          frameborder="0"
        ></iframe>
      </div>
    </div>
  </div>
</section>
