<section class="callback">
  <div class="container">
    <div class="callback__inner">
      <h2 class="callback__title title-h2">
        Нужна помощь опытных специалистов?
      </h2>
      <div class="callback__subtitle">
        Заполните форму ниже, а мы подскажем и подберём решение для вашей задачи
        на индивидуальных условиях.
      </div>
      <div class="callback__form">
        <form class="form-classic form-classic--callback">
          <label class="label">
            <input
              class="input-reset"
              type="text"
              name="Имя"
              placeholder="Имя"
            />
          </label>
          <label class="label">
            <input
              class="input-reset"
              type="tel"
              name="Телефон"
              placeholder="Телефон"
            />
          </label>
          <label class="label">
            <input
              class="input-reset"
              type="email"
              name="Почта"
              placeholder="Почта"
            />
          </label>
          <button
            class="btn btn-reset btn-primary form-classic__btn"
            type="submit"
          >
            Заказать звонок
          </button>

          <label class="question-form__checkbox custom-checkbox">
            <input type="checkbox" class="custom-checkbox__field" />
            <span class="custom-checkbox__content">
              <p class="question-form__text">
                Даю согласие на обработку персональных данных в соответствии с
                <a href="/policy.html">политикой конфиденциальности</a>.
              </p>
            </span>
          </label>
        </form>
      </div>
    </div>
  </div>
</section>
