<div
  class="graph-modal__container success-modal"
  role="dialog"
  aria-modal="true"
  data-graph-target="success-callback-modal"
>
  <div class="success-modal__content success-modal-content">
    <div class="success-modal-content__icon">
      <svg class="icon">
        <use xlink:href="img/sprite.svg#check"></use>
      </svg>
    </div>
    <div class="success-modal-content__title">Спасибо за доверие!</div>
    <div class="success-modal-content__text">
      Мы свяжемся с вами в течении 10 минут в рабочее время с 9:00 до 18:00.
      Если оставили заявку в нерабочее — начнем следующий день со звонка вам.
    </div>

    <button
      class="btn btn-reset btn-primary js-modal-close"
      aria-label="Закрыть модальное окно"
    >
      Хорошо
    </button>
  </div>
</div>

<div
  class="graph-modal__container success-modal"
  role="dialog"
  aria-modal="true"
  data-graph-target="success-questions-modal"
>
  <div class="success-modal__content success-modal-content">
    <div class="success-modal-content__icon">
      <svg class="icon">
        <use xlink:href="img/sprite.svg#check"></use>
      </svg>
    </div>
    <div class="success-modal-content__title">Ваш вопрос отправлен</div>
    <div class="success-modal-content__text">
      Уже скоро, после ответа специалиста, мы опубликуем его на сайте и отправим
      вам уведомление.
    </div>

    <button
      class="btn btn-reset btn-primary js-modal-close"
      aria-label="Закрыть модальное окно"
    >
      Хорошо
    </button>
  </div>
</div>
