/* stylelint-disable */

@mixin custom-radio {
  position: relative;

  &__field {
    appearance: none;
    position: absolute;
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: var(--text-black);
    cursor: pointer;

    &::before {
      content: "";
      flex: 0 0 16px;
      border: 1px solid #909090;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      box-sizing: border-box;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 1px;
      width: 16px;
      height: 16px;
      box-sizing: border-box;
      background-image: url("../img/radio-checked.svg");
      background-size: 8px 8px;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  }
}

.custom-radio__field:checked + .custom-radio__content::after {
  opacity: 1;
}

.custom-radio__field:focus + .custom-radio__content::before {
  outline: none;
}

.custom-radio__field:disabled + .custom-radio__content {
  opacity: 0.4;
  pointer-events: none;
}
