<section class="services">
  <div class="container">
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="/">Главная</a>
      </li>
      <li class="breadcrumbs__item">Услуги</li>
    </ul>
    <h1 class="services__title title-h1">Услуги</h1>
  </div>

  <div class="tabs services__tabs" data-tabs="services">
    <ul class="list-reset tabs__nav">
      <li class="tabs__nav-item">
        <button
          class="btn-reset tabs__nav-btn services__tabs-nav-btn"
          type="button"
        >
          Исследования
          <span class="services__tabs-nav-btn-count">4</span>
        </button>
      </li>
      <li class="tabs__nav-item">
        <button
          class="btn-reset tabs__nav-btn services__tabs-nav-btn"
          type="button"
        >
          Физические факторы

          <span class="services__tabs-nav-btn-count">5</span>
        </button>
      </li>
      <li class="tabs__nav-item">
        <button
          class="btn-reset tabs__nav-btn services__tabs-nav-btn"
          type="button"
        >
          Инженерные изыскания

          <span class="services__tabs-nav-btn-count">5</span>
        </button>
      </li>
      <li class="tabs__nav-item">
        <button
          class="btn-reset tabs__nav-btn services__tabs-nav-btn"
          type="button"
        >
          Экологическое проектирование

          <span class="services__tabs-nav-btn-count">6</span>
        </button>
      </li>
    </ul>
    <div class="tabs__content">
      <div class="container">
        <div class="tabs__panel">
          <div class="services__content">
            <a href="#" class="service-item">
              <div class="service-item__header">
                <div class="service-item__header-title">Исследования воды</div>
                <div class="service-item__header-counter">
                  <span class="service-item__header-counter-text">
                    позиций
                  </span>
                  <span class="service-item__header-counter-count">9</span>
                </div>
              </div>
              <div class="service-item__content">
                <div class="service-item__content-description">
                  <div class="service-item__content-description-subtitle">
                    Сроки работ
                  </div>
                  <div class="service-item__content-description-info">
                    От 3 рабочих дней
                  </div>
                </div>
                <div class="service-item__icon">
                  <svg
                    width="46"
                    height="46"
                    viewBox="0 0 46 46"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle
                      cx="23"
                      cy="23.0004"
                      r="22.5"
                      stroke="white"
                      stroke-opacity="0.3"
                    ></circle>
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M18.2197 27.7807C18.5126 28.0736 18.9874 28.0736 19.2803 27.7807L26.5 20.561V26.2504C26.5 26.6646 26.8358 27.0004 27.25 27.0004C27.6642 27.0004 28 26.6646 28 26.2504V18.7504C28 18.3362 27.6642 18.0004 27.25 18.0004H19.75C19.3358 18.0004 19 18.3362 19 18.7504C19 19.1646 19.3358 19.5004 19.75 19.5004H25.4393L18.2197 26.72C17.9268 27.0129 17.9268 27.4878 18.2197 27.7807Z"
                      fill="white"
                    ></path>
                  </svg>
                </div>
              </div>
            </a>
            <a href="#" class="service-item">
              <div class="service-item__header">
                <div class="service-item__header-title">Исследования почвы</div>
                <div class="service-item__header-counter">
                  <span class="service-item__header-counter-text">
                    позиций
                  </span>
                  <span class="service-item__header-counter-count">4</span>
                </div>
              </div>
              <div class="service-item__content">
                <div class="service-item__content-description">
                  <div class="service-item__content-description-subtitle">
                    Сроки работ
                  </div>
                  <div class="service-item__content-description-info">
                    От 3 рабочих дней
                  </div>
                </div>
                <div class="service-item__icon">
                  <svg
                    width="46"
                    height="46"
                    viewBox="0 0 46 46"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle
                      cx="23"
                      cy="23.0004"
                      r="22.5"
                      stroke="white"
                      stroke-opacity="0.3"
                    ></circle>
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M18.2197 27.7807C18.5126 28.0736 18.9874 28.0736 19.2803 27.7807L26.5 20.561V26.2504C26.5 26.6646 26.8358 27.0004 27.25 27.0004C27.6642 27.0004 28 26.6646 28 26.2504V18.7504C28 18.3362 27.6642 18.0004 27.25 18.0004H19.75C19.3358 18.0004 19 18.3362 19 18.7504C19 19.1646 19.3358 19.5004 19.75 19.5004H25.4393L18.2197 26.72C17.9268 27.0129 17.9268 27.4878 18.2197 27.7807Z"
                      fill="white"
                    ></path>
                  </svg>
                </div>
              </div>
            </a>
            <a href="#" class="service-item">
              <div class="service-item__header">
                <div class="service-item__header-title">
                  Исследования воздуха
                </div>
                <div class="service-item__header-counter">
                  <span class="service-item__header-counter-text">
                    позиций
                  </span>
                  <span class="service-item__header-counter-count">2</span>
                </div>
              </div>
              <div class="service-item__content">
                <div class="service-item__content-description">
                  <div class="service-item__content-description-subtitle">
                    Сроки работ
                  </div>
                  <div class="service-item__content-description-info">
                    От 3 рабочих дней
                  </div>
                </div>
                <div class="service-item__icon">
                  <svg
                    width="46"
                    height="46"
                    viewBox="0 0 46 46"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle
                      cx="23"
                      cy="23.0004"
                      r="22.5"
                      stroke="white"
                      stroke-opacity="0.3"
                    ></circle>
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M18.2197 27.7807C18.5126 28.0736 18.9874 28.0736 19.2803 27.7807L26.5 20.561V26.2504C26.5 26.6646 26.8358 27.0004 27.25 27.0004C27.6642 27.0004 28 26.6646 28 26.2504V18.7504C28 18.3362 27.6642 18.0004 27.25 18.0004H19.75C19.3358 18.0004 19 18.3362 19 18.7504C19 19.1646 19.3358 19.5004 19.75 19.5004H25.4393L18.2197 26.72C17.9268 27.0129 17.9268 27.4878 18.2197 27.7807Z"
                      fill="white"
                    ></path>
                  </svg>
                </div>
              </div>
            </a>
            <a href="#" class="service-item">
              <div class="service-item__header">
                <div class="service-item__header-title">
                  Исследования отходов
                </div>
                <div class="service-item__header-counter">
                  <span class="service-item__header-counter-text">
                    позиций
                  </span>
                  <span class="service-item__header-counter-count">3</span>
                </div>
              </div>
              <div class="service-item__content">
                <div class="service-item__content-description">
                  <div class="service-item__content-description-subtitle">
                    Сроки работ
                  </div>
                  <div class="service-item__content-description-info">
                    От 3 рабочих дней
                  </div>
                </div>
                <div class="service-item__icon">
                  <svg
                    width="46"
                    height="46"
                    viewBox="0 0 46 46"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle
                      cx="23"
                      cy="23.0004"
                      r="22.5"
                      stroke="white"
                      stroke-opacity="0.3"
                    ></circle>
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M18.2197 27.7807C18.5126 28.0736 18.9874 28.0736 19.2803 27.7807L26.5 20.561V26.2504C26.5 26.6646 26.8358 27.0004 27.25 27.0004C27.6642 27.0004 28 26.6646 28 26.2504V18.7504C28 18.3362 27.6642 18.0004 27.25 18.0004H19.75C19.3358 18.0004 19 18.3362 19 18.7504C19 19.1646 19.3358 19.5004 19.75 19.5004H25.4393L18.2197 26.72C17.9268 27.0129 17.9268 27.4878 18.2197 27.7807Z"
                      fill="white"
                    ></path>
                  </svg>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="services__content">
            <a href="#" class="service-item">
              <div class="service-item__header">
                <div class="service-item__header-title">Исследования воды</div>
                <div class="service-item__header-counter">
                  <span class="service-item__header-counter-text">
                    позиций
                  </span>
                  <span class="service-item__header-counter-count">9</span>
                </div>
              </div>
              <div class="service-item__content">
                <div class="service-item__content-description">
                  <div class="service-item__content-description-subtitle">
                    Сроки работ
                  </div>
                  <div class="service-item__content-description-info">
                    От 3 рабочих дней
                  </div>
                </div>
                <div class="service-item__icon">
                  <svg
                    width="46"
                    height="46"
                    viewBox="0 0 46 46"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle
                      cx="23"
                      cy="23.0004"
                      r="22.5"
                      stroke="white"
                      stroke-opacity="0.3"
                    ></circle>
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M18.2197 27.7807C18.5126 28.0736 18.9874 28.0736 19.2803 27.7807L26.5 20.561V26.2504C26.5 26.6646 26.8358 27.0004 27.25 27.0004C27.6642 27.0004 28 26.6646 28 26.2504V18.7504C28 18.3362 27.6642 18.0004 27.25 18.0004H19.75C19.3358 18.0004 19 18.3362 19 18.7504C19 19.1646 19.3358 19.5004 19.75 19.5004H25.4393L18.2197 26.72C17.9268 27.0129 17.9268 27.4878 18.2197 27.7807Z"
                      fill="white"
                    ></path>
                  </svg>
                </div>
              </div>
            </a>
            <a href="#" class="service-item">
              <div class="service-item__header">
                <div class="service-item__header-title">Исследования почвы</div>
                <div class="service-item__header-counter">
                  <span class="service-item__header-counter-text">
                    позиций
                  </span>
                  <span class="service-item__header-counter-count">4</span>
                </div>
              </div>
              <div class="service-item__content">
                <div class="service-item__content-description">
                  <div class="service-item__content-description-subtitle">
                    Сроки работ
                  </div>
                  <div class="service-item__content-description-info">
                    От 3 рабочих дней
                  </div>
                </div>
                <div class="service-item__icon">
                  <svg
                    width="46"
                    height="46"
                    viewBox="0 0 46 46"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle
                      cx="23"
                      cy="23.0004"
                      r="22.5"
                      stroke="white"
                      stroke-opacity="0.3"
                    ></circle>
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M18.2197 27.7807C18.5126 28.0736 18.9874 28.0736 19.2803 27.7807L26.5 20.561V26.2504C26.5 26.6646 26.8358 27.0004 27.25 27.0004C27.6642 27.0004 28 26.6646 28 26.2504V18.7504C28 18.3362 27.6642 18.0004 27.25 18.0004H19.75C19.3358 18.0004 19 18.3362 19 18.7504C19 19.1646 19.3358 19.5004 19.75 19.5004H25.4393L18.2197 26.72C17.9268 27.0129 17.9268 27.4878 18.2197 27.7807Z"
                      fill="white"
                    ></path>
                  </svg>
                </div>
              </div>
            </a>
            <a href="#" class="service-item">
              <div class="service-item__header">
                <div class="service-item__header-title">
                  Исследования воздуха
                </div>
                <div class="service-item__header-counter">
                  <span class="service-item__header-counter-text">
                    позиций
                  </span>
                  <span class="service-item__header-counter-count">2</span>
                </div>
              </div>
              <div class="service-item__content">
                <div class="service-item__content-description">
                  <div class="service-item__content-description-subtitle">
                    Сроки работ
                  </div>
                  <div class="service-item__content-description-info">
                    От 3 рабочих дней
                  </div>
                </div>
                <div class="service-item__icon">
                  <svg
                    width="46"
                    height="46"
                    viewBox="0 0 46 46"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle
                      cx="23"
                      cy="23.0004"
                      r="22.5"
                      stroke="white"
                      stroke-opacity="0.3"
                    ></circle>
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M18.2197 27.7807C18.5126 28.0736 18.9874 28.0736 19.2803 27.7807L26.5 20.561V26.2504C26.5 26.6646 26.8358 27.0004 27.25 27.0004C27.6642 27.0004 28 26.6646 28 26.2504V18.7504C28 18.3362 27.6642 18.0004 27.25 18.0004H19.75C19.3358 18.0004 19 18.3362 19 18.7504C19 19.1646 19.3358 19.5004 19.75 19.5004H25.4393L18.2197 26.72C17.9268 27.0129 17.9268 27.4878 18.2197 27.7807Z"
                      fill="white"
                    ></path>
                  </svg>
                </div>
              </div>
            </a>
            <a href="#" class="service-item">
              <div class="service-item__header">
                <div class="service-item__header-title">
                  Исследования отходов
                </div>
                <div class="service-item__header-counter">
                  <span class="service-item__header-counter-text">
                    позиций
                  </span>
                  <span class="service-item__header-counter-count">3</span>
                </div>
              </div>
              <div class="service-item__content">
                <div class="service-item__content-description">
                  <div class="service-item__content-description-subtitle">
                    Сроки работ
                  </div>
                  <div class="service-item__content-description-info">
                    От 3 рабочих дней
                  </div>
                </div>
                <div class="service-item__icon">
                  <svg
                    width="46"
                    height="46"
                    viewBox="0 0 46 46"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle
                      cx="23"
                      cy="23.0004"
                      r="22.5"
                      stroke="white"
                      stroke-opacity="0.3"
                    ></circle>
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M18.2197 27.7807C18.5126 28.0736 18.9874 28.0736 19.2803 27.7807L26.5 20.561V26.2504C26.5 26.6646 26.8358 27.0004 27.25 27.0004C27.6642 27.0004 28 26.6646 28 26.2504V18.7504C28 18.3362 27.6642 18.0004 27.25 18.0004H19.75C19.3358 18.0004 19 18.3362 19 18.7504C19 19.1646 19.3358 19.5004 19.75 19.5004H25.4393L18.2197 26.72C17.9268 27.0129 17.9268 27.4878 18.2197 27.7807Z"
                      fill="white"
                    ></path>
                  </svg>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="services__content">
            <a href="#" class="service-item">
              <div class="service-item__header">
                <div class="service-item__header-title">Исследования воды</div>
                <div class="service-item__header-counter">
                  <span class="service-item__header-counter-text">
                    позиций
                  </span>
                  <span class="service-item__header-counter-count">9</span>
                </div>
              </div>
              <div class="service-item__content">
                <div class="service-item__content-description">
                  <div class="service-item__content-description-subtitle">
                    Сроки работ
                  </div>
                  <div class="service-item__content-description-info">
                    От 3 рабочих дней
                  </div>
                </div>
                <div class="service-item__icon">
                  <svg
                    width="46"
                    height="46"
                    viewBox="0 0 46 46"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle
                      cx="23"
                      cy="23.0004"
                      r="22.5"
                      stroke="white"
                      stroke-opacity="0.3"
                    ></circle>
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M18.2197 27.7807C18.5126 28.0736 18.9874 28.0736 19.2803 27.7807L26.5 20.561V26.2504C26.5 26.6646 26.8358 27.0004 27.25 27.0004C27.6642 27.0004 28 26.6646 28 26.2504V18.7504C28 18.3362 27.6642 18.0004 27.25 18.0004H19.75C19.3358 18.0004 19 18.3362 19 18.7504C19 19.1646 19.3358 19.5004 19.75 19.5004H25.4393L18.2197 26.72C17.9268 27.0129 17.9268 27.4878 18.2197 27.7807Z"
                      fill="white"
                    ></path>
                  </svg>
                </div>
              </div>
            </a>
            <a href="#" class="service-item">
              <div class="service-item__header">
                <div class="service-item__header-title">Исследования почвы</div>
                <div class="service-item__header-counter">
                  <span class="service-item__header-counter-text">
                    позиций
                  </span>
                  <span class="service-item__header-counter-count">4</span>
                </div>
              </div>
              <div class="service-item__content">
                <div class="service-item__content-description">
                  <div class="service-item__content-description-subtitle">
                    Сроки работ
                  </div>
                  <div class="service-item__content-description-info">
                    От 3 рабочих дней
                  </div>
                </div>
                <div class="service-item__icon">
                  <svg
                    width="46"
                    height="46"
                    viewBox="0 0 46 46"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle
                      cx="23"
                      cy="23.0004"
                      r="22.5"
                      stroke="white"
                      stroke-opacity="0.3"
                    ></circle>
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M18.2197 27.7807C18.5126 28.0736 18.9874 28.0736 19.2803 27.7807L26.5 20.561V26.2504C26.5 26.6646 26.8358 27.0004 27.25 27.0004C27.6642 27.0004 28 26.6646 28 26.2504V18.7504C28 18.3362 27.6642 18.0004 27.25 18.0004H19.75C19.3358 18.0004 19 18.3362 19 18.7504C19 19.1646 19.3358 19.5004 19.75 19.5004H25.4393L18.2197 26.72C17.9268 27.0129 17.9268 27.4878 18.2197 27.7807Z"
                      fill="white"
                    ></path>
                  </svg>
                </div>
              </div>
            </a>
            <a href="#" class="service-item">
              <div class="service-item__header">
                <div class="service-item__header-title">
                  Исследования воздуха
                </div>
                <div class="service-item__header-counter">
                  <span class="service-item__header-counter-text">
                    позиций
                  </span>
                  <span class="service-item__header-counter-count">2</span>
                </div>
              </div>
              <div class="service-item__content">
                <div class="service-item__content-description">
                  <div class="service-item__content-description-subtitle">
                    Сроки работ
                  </div>
                  <div class="service-item__content-description-info">
                    От 3 рабочих дней
                  </div>
                </div>
                <div class="service-item__icon">
                  <svg
                    width="46"
                    height="46"
                    viewBox="0 0 46 46"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle
                      cx="23"
                      cy="23.0004"
                      r="22.5"
                      stroke="white"
                      stroke-opacity="0.3"
                    ></circle>
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M18.2197 27.7807C18.5126 28.0736 18.9874 28.0736 19.2803 27.7807L26.5 20.561V26.2504C26.5 26.6646 26.8358 27.0004 27.25 27.0004C27.6642 27.0004 28 26.6646 28 26.2504V18.7504C28 18.3362 27.6642 18.0004 27.25 18.0004H19.75C19.3358 18.0004 19 18.3362 19 18.7504C19 19.1646 19.3358 19.5004 19.75 19.5004H25.4393L18.2197 26.72C17.9268 27.0129 17.9268 27.4878 18.2197 27.7807Z"
                      fill="white"
                    ></path>
                  </svg>
                </div>
              </div>
            </a>
            <a href="#" class="service-item">
              <div class="service-item__header">
                <div class="service-item__header-title">
                  Исследования отходов
                </div>
                <div class="service-item__header-counter">
                  <span class="service-item__header-counter-text">
                    позиций
                  </span>
                  <span class="service-item__header-counter-count">3</span>
                </div>
              </div>
              <div class="service-item__content">
                <div class="service-item__content-description">
                  <div class="service-item__content-description-subtitle">
                    Сроки работ
                  </div>
                  <div class="service-item__content-description-info">
                    От 3 рабочих дней
                  </div>
                </div>
                <div class="service-item__icon">
                  <svg
                    width="46"
                    height="46"
                    viewBox="0 0 46 46"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle
                      cx="23"
                      cy="23.0004"
                      r="22.5"
                      stroke="white"
                      stroke-opacity="0.3"
                    ></circle>
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M18.2197 27.7807C18.5126 28.0736 18.9874 28.0736 19.2803 27.7807L26.5 20.561V26.2504C26.5 26.6646 26.8358 27.0004 27.25 27.0004C27.6642 27.0004 28 26.6646 28 26.2504V18.7504C28 18.3362 27.6642 18.0004 27.25 18.0004H19.75C19.3358 18.0004 19 18.3362 19 18.7504C19 19.1646 19.3358 19.5004 19.75 19.5004H25.4393L18.2197 26.72C17.9268 27.0129 17.9268 27.4878 18.2197 27.7807Z"
                      fill="white"
                    ></path>
                  </svg>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="services__content">
            <a href="#" class="service-item">
              <div class="service-item__header">
                <div class="service-item__header-title">Исследования воды</div>
                <div class="service-item__header-counter">
                  <span class="service-item__header-counter-text">
                    позиций
                  </span>
                  <span class="service-item__header-counter-count">9</span>
                </div>
              </div>
              <div class="service-item__content">
                <div class="service-item__content-description">
                  <div class="service-item__content-description-subtitle">
                    Сроки работ
                  </div>
                  <div class="service-item__content-description-info">
                    От 3 рабочих дней
                  </div>
                </div>
                <div class="service-item__icon">
                  <svg
                    width="46"
                    height="46"
                    viewBox="0 0 46 46"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle
                      cx="23"
                      cy="23.0004"
                      r="22.5"
                      stroke="white"
                      stroke-opacity="0.3"
                    ></circle>
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M18.2197 27.7807C18.5126 28.0736 18.9874 28.0736 19.2803 27.7807L26.5 20.561V26.2504C26.5 26.6646 26.8358 27.0004 27.25 27.0004C27.6642 27.0004 28 26.6646 28 26.2504V18.7504C28 18.3362 27.6642 18.0004 27.25 18.0004H19.75C19.3358 18.0004 19 18.3362 19 18.7504C19 19.1646 19.3358 19.5004 19.75 19.5004H25.4393L18.2197 26.72C17.9268 27.0129 17.9268 27.4878 18.2197 27.7807Z"
                      fill="white"
                    ></path>
                  </svg>
                </div>
              </div>
            </a>
            <a href="#" class="service-item">
              <div class="service-item__header">
                <div class="service-item__header-title">Исследования почвы</div>
                <div class="service-item__header-counter">
                  <span class="service-item__header-counter-text">
                    позиций
                  </span>
                  <span class="service-item__header-counter-count">4</span>
                </div>
              </div>
              <div class="service-item__content">
                <div class="service-item__content-description">
                  <div class="service-item__content-description-subtitle">
                    Сроки работ
                  </div>
                  <div class="service-item__content-description-info">
                    От 3 рабочих дней
                  </div>
                </div>
                <div class="service-item__icon">
                  <svg
                    width="46"
                    height="46"
                    viewBox="0 0 46 46"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle
                      cx="23"
                      cy="23.0004"
                      r="22.5"
                      stroke="white"
                      stroke-opacity="0.3"
                    ></circle>
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M18.2197 27.7807C18.5126 28.0736 18.9874 28.0736 19.2803 27.7807L26.5 20.561V26.2504C26.5 26.6646 26.8358 27.0004 27.25 27.0004C27.6642 27.0004 28 26.6646 28 26.2504V18.7504C28 18.3362 27.6642 18.0004 27.25 18.0004H19.75C19.3358 18.0004 19 18.3362 19 18.7504C19 19.1646 19.3358 19.5004 19.75 19.5004H25.4393L18.2197 26.72C17.9268 27.0129 17.9268 27.4878 18.2197 27.7807Z"
                      fill="white"
                    ></path>
                  </svg>
                </div>
              </div>
            </a>
            <a href="#" class="service-item">
              <div class="service-item__header">
                <div class="service-item__header-title">
                  Исследования воздуха
                </div>
                <div class="service-item__header-counter">
                  <span class="service-item__header-counter-text">
                    позиций
                  </span>
                  <span class="service-item__header-counter-count">2</span>
                </div>
              </div>
              <div class="service-item__content">
                <div class="service-item__content-description">
                  <div class="service-item__content-description-subtitle">
                    Сроки работ
                  </div>
                  <div class="service-item__content-description-info">
                    От 3 рабочих дней
                  </div>
                </div>
                <div class="service-item__icon">
                  <svg
                    width="46"
                    height="46"
                    viewBox="0 0 46 46"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle
                      cx="23"
                      cy="23.0004"
                      r="22.5"
                      stroke="white"
                      stroke-opacity="0.3"
                    ></circle>
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M18.2197 27.7807C18.5126 28.0736 18.9874 28.0736 19.2803 27.7807L26.5 20.561V26.2504C26.5 26.6646 26.8358 27.0004 27.25 27.0004C27.6642 27.0004 28 26.6646 28 26.2504V18.7504C28 18.3362 27.6642 18.0004 27.25 18.0004H19.75C19.3358 18.0004 19 18.3362 19 18.7504C19 19.1646 19.3358 19.5004 19.75 19.5004H25.4393L18.2197 26.72C17.9268 27.0129 17.9268 27.4878 18.2197 27.7807Z"
                      fill="white"
                    ></path>
                  </svg>
                </div>
              </div>
            </a>
            <a href="#" class="service-item">
              <div class="service-item__header">
                <div class="service-item__header-title">
                  Исследования отходов
                </div>
                <div class="service-item__header-counter">
                  <span class="service-item__header-counter-text">
                    позиций
                  </span>
                  <span class="service-item__header-counter-count">3</span>
                </div>
              </div>
              <div class="service-item__content">
                <div class="service-item__content-description">
                  <div class="service-item__content-description-subtitle">
                    Сроки работ
                  </div>
                  <div class="service-item__content-description-info">
                    От 3 рабочих дней
                  </div>
                </div>
                <div class="service-item__icon">
                  <svg
                    width="46"
                    height="46"
                    viewBox="0 0 46 46"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle
                      cx="23"
                      cy="23.0004"
                      r="22.5"
                      stroke="white"
                      stroke-opacity="0.3"
                    ></circle>
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M18.2197 27.7807C18.5126 28.0736 18.9874 28.0736 19.2803 27.7807L26.5 20.561V26.2504C26.5 26.6646 26.8358 27.0004 27.25 27.0004C27.6642 27.0004 28 26.6646 28 26.2504V18.7504C28 18.3362 27.6642 18.0004 27.25 18.0004H19.75C19.3358 18.0004 19 18.3362 19 18.7504C19 19.1646 19.3358 19.5004 19.75 19.5004H25.4393L18.2197 26.72C17.9268 27.0129 17.9268 27.4878 18.2197 27.7807Z"
                      fill="white"
                    ></path>
                  </svg>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
