<section class="about-hero">
  <div class="container">
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="/">Главная</a>
      </li>
      <li class="breadcrumbs__item">О компании</li>
    </ul>
    <div class="about-hero__wrapper">
      <h1 class="about-hero__title title-h1">
        От Калининграда <br />
        до Дальнего Востока
      </h1>
      <div class="about-hero__content">
        <div class="about-hero__text">
          Испытательная лаборатория ООО «ВПК Прогресс Энерго» проводит анализ
          для определения состава, свойств и характеристик объектов
          исследований. <br /><br />
          Мы используем специализированное оборудование и методики выполнения
          измерений для проведения химического анализа, измерения физических
          факторов и других видов исследований, чтобы обеспечить соответствие
          стандартам и требованиям безопасности.<br /><br />
          Лаборатория предоставляет своим клиентам точную и достоверную
          информацию, необходимую для принятия обоснованных решений в области
          охраны окружающей среды, природопользования, строительных работ и
          инженерных изысканий.
        </div>

        <ul class="hero__statistic">
          <li class="hero__statistic-item">
            <div class="hero__statistic-item-title">11 лет</div>
            <div class="hero__statistic-item-description">
              на рынке: опыт, который превращает знания в решения
            </div>
          </li>
          <li class="hero__statistic-item">
            <div class="hero__statistic-item-title">250+</div>
            <div class="hero__statistic-item-description">
              Позиций в области аккредитации ИЛ
            </div>
          </li>
          <li class="hero__statistic-item">
            <div class="hero__statistic-item-title">700+</div>
            <div class="hero__statistic-item-description">
              Единиц в парке оборудования ИЛ
            </div>
          </li>
          <li class="hero__statistic-item">
            <div class="hero__statistic-item-title">500+</div>
            <div class="hero__statistic-item-description">
              Объектов в области строительства и реконструкции обследовано.
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
