.certificates {
  &__title {
    margin-bottom: 32px;
  }

  &__tabs {
    margin-bottom: 100px;
  }
}

.certificate-slider,
.mail-slider {
  overflow: visible;

  &__slide {
    max-width: 316px;
  }
  &__item {
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 100%;

    &:hover .certificate-slider__item-img::after {
      opacity: 1;
    }

    &:hover .certificate-slider__item-img::before {
      opacity: 1;
    }
  }

  &__item-count {
    position: absolute;
    top: 20px;
    right: 20px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: #000;
  }

  &__item-img {
    position: relative;
    height: 360px;
    padding: 40px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--system-light-gray);
    border-radius: 10px;

    background: var(--system-gray-system);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background: rgba(5, 24, 36, 0.7);
      opacity: 0;
      transition: opacity 0.3s;
    }

    &:before {
      content: "Открыть";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 1px solid var(--system-white);
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 18px;
      line-height: 115%;
      letter-spacing: -0.01em;
      color: var(--system-white);
      opacity: 0;
      transition: opacity 0.3s;
    }

    & img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__item-title {
    margin-top: 15px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, 0.6);
  }
}

.certificates-carousel {
  max-width: 100%;

  & .fancybox__slide .f-button[data-fancybox-close] {
    width: var(--f-button-width);
    height: var(--f-button-height);
    top: calc(var(--f-button-height) * -1);
    right: 0;
    border: none;
    background-color: transparent;
  }
}

@media (max-width: 1200px) {
  .certificates {
    &__tabs {
      margin-bottom: 80px;
    }
  }
}

@media (max-width: 1000px) {
  .certificates {
    &__title {
      font-size: 50px;
    }

    &__tabs {
      margin-bottom: 80px;
    }
  }
}

@media (max-width: 768px) {
  .certificates {
    &__title {
      font-size: 36px;
    }

    &__tabs-nav {
      margin-bottom: 32px;
    }
  }
}
